:root {
    --primary-color: #218d73;
    --secondary-color: #e0d6c6;
    --accent1-color: #842a0f;
    --accent2-color: #050517;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: #222222;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}


header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

header img {
    width: 80px;
    height: auto;
}

header h1 {
    color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--accent2-color);
    font-weight: bold;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(33, 141, 115, 0.85);
    color: var(--accent2-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    max-width: 300px;
    color: #222222
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.adventures {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 16px;
}

.adventures figure {
    flex: 1;
    max-width: 150px;
    text-align: center;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.socialmedia {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: auto;
}