:root {
    --heading-background-color: #f06;
    --heading-text-color: #333;
    --heading-font: 'Monserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}




nav {
    background-color: var(--heading-background-color);
    padding: var(--padding);
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-background-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;

}

p {
    padding: var(--padding);
}

aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 1em;
    border-top: var(--border);
    text-align: center;
}